{% include 'header' %}

#import <Foundation/Foundation.h>

@protocol {{ prefix }}{{ module_info.name }}ViewOutput <NSObject>

/**
 @author {{ developer.name }}

 Метод сообщает презентеру о том, что view готова к работе
 */
- (void)didTriggerViewReadyEvent;
- (void)backBtnTap;
@end
