{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewController.h"
#import "Functions.h"

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"

@implementation {{ prefix }}{{ module_info.name }}ViewController

#pragma mark - Методы жизненного цикла

- (void)viewDidLoad {
	[super viewDidLoad];

	[self.output didTriggerViewReadyEvent];
}

-(void)viewWillAppear:(BOOL)animated {
    [super viewWillAppear:animated];
    
    [Functions setupNavigationController:self.navigationController andTitle:@"{{ module_info.name }}" andItem:self.navigationItem withSelf:self andBackSelector:@selector(backBtnTap) andMoreSelector:@selector(moreBtnTap)];
    
}

- (void)updateViewConstraints {
    [self.background mas_remakeConstraints:^(MASConstraintMaker *make) {
        make.edges.equalTo(self.view);
    }];
    [super updateViewConstraints];
}

#pragma mark - Методы обработки событий от визуальных элементов
-(void)backBtnTap {
    [self.output backBtnTap];
}

-(void)moreBtnTap {
    
}

#pragma mark - Вспомогательные функции
- (void) createViewElements {
    
    self.background = [UIFabric imageViewWithImageName:@"backgound" andContentMode:UIViewContentModeScaleAspectFill iconMode:false andSuperView:self.view];

}
#pragma mark - Методы {{ prefix }}{{ module_info.name }}ViewInput

- (void)setupInitialState {
	// В этом методе происходит настройка параметров view, зависящих от ее жизненого цикла (создание элементов, анимации и пр.)
    [self createViewElements];
}



@end
