{% include 'header' %}

#import "{{ prefix }}{{ module_info.name }}ViewOutput.h"
#import "{{ prefix }}{{ module_info.name }}InteractorOutput.h"
#import "{{ prefix }}{{ module_info.name }}ModuleInput.h"
#import "popupMessageProtocol.h"
#import "waitBarProtocol.h"

@protocol {{ prefix }}{{ module_info.name }}ViewInput;
@protocol {{ prefix }}{{ module_info.name }}InteractorInput;
@protocol {{ prefix }}{{ module_info.name }}RouterInput;

@interface {{ prefix }}{{ module_info.name }}Presenter : NSObject <{{ prefix }}{{ module_info.name }}ModuleInput, {{ prefix }}{{ module_info.name }}ViewOutput, {{ prefix }}{{ module_info.name }}InteractorOutput>

@property (nonatomic, weak) id<{{ prefix }}{{ module_info.name }}ViewInput> view;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}InteractorInput> interactor;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}RouterInput> router;
@property (nonatomic, weak) id<popupMessageProtocol> popup;
@property (nonatomic, weak) id<waitBarProtocol> wait;
@end
