{% include 'header' %}

#import <Foundation/Foundation.h>
#import "ViperMcFlurry.h"

@protocol {{ prefix }}{{ module_info.name }}ModuleOutput <RamblerViperModuleOutput>

- (void)moduleConfigurationMethod;;

@end
