{% include 'header' %}

#import <UIKit/UIKit.h>
#import "UIFabric.h"
#import <RETableViewManager/RETableViewManager.h>
#import "{{ prefix }}{{ module_info.name }}CellPresenter.h"

@interface {{ prefix }}{{ module_info.name }}TableViewCell : RETableViewCell <{{ prefix }}{{ module_info.name }}CellInput>

@property (strong, readwrite, nonatomic) {{ prefix }}{{ module_info.name }}CellPresenter *item;

@property (weak, nonatomic) IBOutlet UIImageView *background;
@end
