{% include 'header' %}

#import <RETableViewManager/RETableViewManager.h>
#import "{{ prefix }}{{ module_info.name }}Model.h"

@protocol {{ prefix }}{{ module_info.name }}CellInput <NSObject>

@end

@interface {{ prefix }}{{ module_info.name }}CellPresenter : RETableViewItem
@property (strong, readwrite, nonatomic) {{ prefix }}{{ module_info.name }}Model *model;
@property (nonatomic, strong) id<{{ prefix }}{{ module_info.name }}CellInput> cell;
@end
